## Containers and Functions

### List comprehensions

In [3]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
sum([i for i in range(101) if i%2!=0])

2500

In [11]:
lst1=[1,2,8,'fgh',3,4,'abc','def']
lst2=[[1,2],[3,4,5]]

[i for i in lst1 for j in lst2 if i in j ]

[1, 2, 3, 4]

### Tuples

In [3]:
tup1=(1,2,1,3,4,'Rag',"Chan")

In [4]:
tup1.count(1)

2

In [6]:
tup1[0]=5

TypeError: 'tuple' object does not support item assignment

In [9]:
list(tup1)[5]

'Rag'

### Sets

In [10]:
a={}
type(a)

dict

In [20]:
a={1,-1,0,'abc',7,9,8,2,3,4,5,5,6,6,6,6,6,6,'R',"aaa"}

In [21]:
a

{-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'R', 'aaa', 'abc'}

In [22]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'aaa', 'abc', -1, 'R']

In [23]:
list(a)[::-1]

['R', -1, 'abc', 'aaa', 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [24]:
set1={1,2,-9,8,3}
set2={1,2,3,4,5,6,7,8,9}

print(set1.difference(set2))
print(set1.intersection(set2))
print(set1.union(set2))

{-9}
{8, 1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8, 9, -9}

### Dictionaries

In [25]:
dict1={}

In [26]:
dict1['A']=123

In [28]:
dict1['B']=456

In [29]:
dict1

{'A': 123, 'B': 456}

In [30]:
dict2={1:'ABC',2:'DEF',3:'GHI',2:'XYZ'}

In [31]:
dict2

{1: 'ABC', 2: 'XYZ', 3: 'GHI'}

In [33]:
dict1.get('A')

123

In [37]:
list(dict1.keys())[0]

'A'

In [38]:
dict1.values()

dict_values([123, 456])

#### Nested Dictionaries

In [1]:
nest_dict={'vehicle':{'Car':{'Toyota','Hyundai','Vista'}}}

In [2]:
nest_dict['vehicle']['Car']

{'Hyundai', 'Toyota', 'Vista'}

In [3]:
nest_dict.items()

dict_items([('vehicle', {'Car': {'Toyota', 'Vista', 'Hyundai'}})])

In [4]:
nest_dict.keys()

dict_keys(['vehicle'])

In [5]:
nest_dict.get('vehicle')

{'Car': {'Hyundai', 'Toyota', 'Vista'}}

In [6]:
nest_dict.values()

dict_values([{'Car': {'Toyota', 'Vista', 'Hyundai'}}])

#### Dictionary Comprehensions

In [16]:
lst1=['A','B','C']

{i:i.upper() for i in lst1}

{'A': 'A', 'B': 'B', 'C': 'C'}

In [18]:
{x:x**4 for x in range(1,10)}

{1: 1, 2: 16, 3: 81, 4: 256, 5: 625, 6: 1296, 7: 2401, 8: 4096, 9: 6561}

### Functions

In [19]:
def sum_all(lst1):
    sum1=0
    for i in lst1:
        sum1=sum1+i
    return sum1

In [20]:
sum_all([1,2,3,4,5,6,7,8,9,10])

55

In [44]:
def list_sum(lst1,lst2):
    sum_list=[]
    for i in range(len(lst1)):
        for j in range(len(lst2)):
            if i==j:
                #print(lst1[i]," ",lst1[j]," ",lst1[i]+lst1[j])
                sum_list.append(lst1[i]+lst2[j])

    return sum_list

In [43]:
list_sum([1,2,3],[4,5,6])

[5, 7, 9]

## Python Practice 1

In [47]:
#Write a Python program to sum all the items in a list.

def sum_all(lst):
    sum1=0
    for i in lst:
        sum1=sum1+i
    return sum1

In [48]:
sum_all([1,2,3,4,5,6,7,8,9,10])

55

In [59]:
# Write a Python program to count the number of strings where the string length is 2 or
# more and the first and last character are same from a given list of strings.

def count_char(lst):
    cnt=0
    for a_str in lst:
            #print(a_str[0]," ",a_str[len(a_str)-1])
            if len(a_str)>=2 and a_str[0]==a_str[len(a_str)-1]:
                cnt=cnt+1
    return cnt

In [61]:
count_char(['ABC','A','ABAD'])

0

In [62]:
#Write a Python program to remove duplicates from a list.

def remove_dup(lst):
    return list(set(lst))

In [63]:
remove_dup([1,2,3,4,5,5,4,3,2,3,3,5,6,6,'A','A','A'])

['A', 1, 2, 3, 4, 5, 6]

In [64]:
remove_dup([10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40])

[40, 10, 80, 50, 20, 60, 30]